.*.swp
build
build_32
build_64
build_linux
build_win
libs
.vs 
*obj
*tlog
*.idea
*.bak
*.DS_Store
*~
sdk/*
*.vscode
build_*
.cache
models
bin
libs
cmake-build-debug/*
project/mac
log
results
*.egg-info
dist
bin
engine/bin