
numpy
opencv-python
ftfy
bs4
einops
optimum
peft
wcwidth
lpips
beautifulsoup4
tensorboard
tensorboardX
torch-fidelity
pytorch-fid
open_clip_torch
thop
mmcv==1.7.0
timm==0.6.12
protobuf==3.20.2
gradio==4.1.1
yapf==0.40.1
xformers==0.0.27
transformers==4.42.4
diffusers==0.28.0
accelerate==0.33.0
sentencepiece~=0.1.99
datasets==2.20.0